:root {
    --theme-color: #58c2dc;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    transition: all 300ms 0s ease;
    opacity: 0.6;
}

#hedaer {
    display: block;
    margin-bottom: 20px;
}

#hedaer > #spmenu {
    display: none;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#menu > ul > li {
    display: inline;
    margin: 0 10;
}

#menu > ul > li > a {
    color: #FFFFFF;
}

#menu > ul > li > a:hover {
    text-decoration: underline;
}

#mv {
    display: block;
    margin-bottom: 20px;
}

#mv > img {
    width: 100%;
}

#news {
    display: flex;
    margin-bottom: 20px;
}

#news > div > span {
    display: block;
    padding: 20 40;
}

#news > dl {
    margin: 0px 0px 0px 20px;
    width: 100%;
}

#news > dl > dt {
    margin-bottom: 10px;
}

#news > dl > dd {
    margin-left: 0;
    padding-bottom: 10;
    font-size: 22px;
    border-bottom: 2px solid #58c2dc;
}

#news > dl > dd > span {
    display: inline-block;
}

#news > dl > dd > span > :before {
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 11px 15px;
    border-color: transparent transparent transparent #58c2dc;
}

#news > dl > dd > a > :hover {
    opacity: 0.5;
    transition: all 300ms 0s ease;
    text-decoration: none;
}

.inner {
    padding: 0 5%;
}

.backcolor {
    background: var(--theme-color);
    color: #FFFFFF;
}

.title {
    display: block;
    font-size: 22px;
}

.subtitle {
    font-size: 16px;
}

.subject {
    color: var(--theme-color);
    margin-bottom: 20;
}

#tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tiles > * > .images {
    display: flex;
    justify-content: space-around;
}

.tile1 {
    text-align: center;
    width: 48%;
    margin-bottom: 20;
}

.tile2 {
    text-align: center;
    margin-bottom: 20;
    width: 100%;
}

#tiles > * > .images img {
    display: block;
    margin: 0 auto;
    width: 95%;
}

#tiles > * > .images span {
    display: block;
}

#tiles > * > .images div {
    position: relative;
}

#tiles > * > .images span {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

#footer {
    text-align: center;
    margin-top: 70px;
}

#footer > div {
    padding: 20;
    border-bottom: 1px solid #a5ddeb;
}

#footer > #map {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: left;
}

#footer > #map ul {
    font-size: 12px;
    list-style: none;
    padding-left: 0
}

#footer > #map > ul> li ul {
    font-size: 10px;
}

#footer > #map li, span {
    margin-bottom: 5px;
}

#footer > .copyright {
    text-align: center;
    font-size: 12px;
    padding: 30px;
}



.pc {
    display: block;
}

.sp{
    display: none;
}

@media screen and (max-width:780px) {
    .inner {
        padding: 0;
    }

    .pc {
        display: none;
    }  
    .sp {
        display: block;
    }
    
    #hedaer {
        display: flex;
        justify-content: space-between;
    }

    #menu {
        display: block;
        border-bottom: 2px solid var(--theme-color);
    }

    #menu > #isspmenuopen {
        display: none;
    }

    #menu > #slideupdown {
        padding-left: 0;
        text-align: center;
        display: none;
    }
    #menu > #isspmenuopen:checked + #slideupdown {
        transition: all 300ms 0s ease;
        display: block;
    }
    
    #menu > #slideupdown > li{
        display: block;
        font-size: 4.29vw;
        padding: 3.9vw 0 3.9vw 0;
        border-bottom: 1px solid #FFF;;
    }

    #news {
        display: block;
    }

    #news > dl{
        margin: 0;
    }

    #tiles {
        display: block;
    }

    #tiles > * > .images {
        display: block;
    }

    .tile1, .tile2 {
        text-align: center;
        margin-bottom: 20;
        width: 100%;
    }
}

